input{
    display: block;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin: 5px 10px;
}

div{
    background-image: none;
}

input:last-child{
    background-color: rgb(156, 125, 185);
    color: white;
}